
/* Safes Section */
.safes {
    background: var(--color-04);
}

#cofres .section-header p{
    color: var(--color-03);
}

.safes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
}

.safe-card {
    background: var(--color-03);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: var(--transition);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background: var(--color-03);
}

.safe-card:hover {
    transform: translateY(-5px);

}

.safe-image {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-03);
}

.safe-image img {
    height: 90%;
}

.safe-content {
    padding: 1rem;
}

.safe-content h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-01);
    margin-bottom: 1rem;
}

.safe-content p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: var(--color-04);
}

.safe-content ul{
    list-style-type: circle;
    color: var(--color-0);
}

.safe-features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    
}

.safe-features i {
    width: 16px;
    height: 16px;
    color: var(--color-02);
}
