
/* Services Section */
.services {
    position: relative;
    background: url('../img/1200px-WinonaSavingsBankVault.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: 0;
}

.services::after{
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.486);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    gap: 2rem;
}

#servicos .section-header h2{
    color: var(--color-02);
}

#servicos .section-header p{
    color: var(--color-03);
}

.service-card {
    background: var(--color-03);
    padding: 2.5rem;
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-lg);
}

.service-icon {
    width: 80px;
    height: 80px;
    background: var(--color-02);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1.5rem;
}

#servicos .material-symbols-outlined {
    font-size: 3rem;
    color: var(--color-03);
}

.service-card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-01);
    margin-bottom: 1rem;
}

.service-card p {
    line-height: 1.6;
}

/* Mobile */
@media (max-width: 1400px) {

    .services-grid {
    grid-template-columns: 1fr 1fr;
}
}